.benefits-section {
    position: relative;
    background: url("../../img/decor/benefits_side-leaf.png") left top 57% no-repeat;

    &:before {
        content: url("../../img/decor/benefits_bar-barries.png");
        position: absolute;
        bottom: -135px;
        left: 0;
    }
}