.form {
    display: flex;
}

.form__col {
    flex: 1;
    margin-right: 3%;

    &:last-child {
        margin-right: 0;
    }
}

.form__row {
    display: flex;
    margin-bottom: 3%;
}

.form__block {
    flex: 1;
    margin-right: 3%;

    &:last-child {
        margin-right: 0;
    }
}

.form__input {
    width: 100%;
    padding: 15px 11px;
    border-radius: 4px;
    border: solid 3px transparent;

    &--textarea {
        height: 156px;
        resize: none;
        margin-bottom: 11px;
    }

    &:focus {
        border-color: #dee2bd;
        outline: none;
    }
}

.form__controls {
    display: flex;
    flex-wrap: wrap;
}

.form__btns {
    margin-top: 5%;
}